/* font-family: 'Faster One', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Frijole', cursive; */
body{
width: 960px;
margin: 0px auto;

}

h1  {
font-family: 'Faster One', cursive;
font-size: 8vw;
margin: 20px auto;
text-align: center;

}

#menu ul  {
display:grid;
grid-template-columns: auto auto auto;
grid-gap: 6em;
text-align: center;
}
#menu ul li{
    /* display: inline-block; */
    font-weight: bold;
    background-color: cadetblue;
    padding: 1em;
    border: solid ;

    transition: 600ms;
   
    -moz-transform: scale(1) translate(9px, -18px) skew(-40deg, 0deg);
    -webkit-transform: scale(1) translate(9px, -18px) skew(-40deg, 0deg);
    -o-transform: scale(1) translate(9px, -18px) skew(-40deg, 0deg);
    -ms-transform: scale(1) translate(9px, -18px) skew(-40deg, 0deg);
    transform: scale(1) translate(9px, -18px) skew(-40deg, 0deg);
    

}

#menu ul li:hover{
    background-color: lightgreen;
    color:white;
    
    
    -moz-transform: scale(1.2) translate(9px, -18px) skew(-40deg, 0deg);
    -webkit-transform: scale(1.2) translate(9px, -18px) skew(-40deg, 0deg);
    -o-transform: scale(1.2) translate(9px, -18px) skew(-40deg, 0deg);
    -ms-transform: scale(1.2) translate(9px, -18px) skew(-40deg, 0deg);
    transform: scale(1.2) translate(9px, -18px) skew(-40deg, 0deg);
    
    /* transform: scale(1.2); */

}

h2{
    font-family: 'Vast Shadow', cursive;   
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
}

legend{
    font-family: 'Frijole', cursive;
    font-size: 2vw;
}

#question{
   width: 800px;
}

fieldset{
    border-radius:30px;  
    /* border:1px solid #666; */
    box-shadow: 0 0 50px #666;
    background-color: azure;
}

#question ul{
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 3em;

}

#question img{
        border: solid 5px gray;
        width: 260px;
        height: 260px;
        
        -moz-border-radius: 130px;
        -webkit-border-radius: 130px;
        border-radius: 130px;
        box-shadow: 1vw;
}
#question img:hover{
    transform: scale(1.1);
}